<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.practicejavaandroid">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <!-- android : required = "false" Google Play will then permit users to download your app even
    if their device doesn’t have a fingerprint sensor.-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/App_Name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".android_security.FingerPrintActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".parcelable.SecondActivity"/>

        <!--<activity android:name=".android_security.FingerPrintActivity"/>-->
    </application>

</manifest>